<mat-toolbar style="background-color: #4D0900;">
  <span class="header"></span>
  <mat-icon class="bell"><img src="https://img.icons8.com/emoji/24/000000/bell-emoji.png" /></mat-icon>


</mat-toolbar>



<!-- <mat-drawer-container class="navigation">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->




<!-- Side navigation -->
<div class="sidenav">
  <div class="sidecontent">

    <mat-icon style="display: block;margin-left: auto;margin-right: auto"><img
        src="https://img.icons8.com/material-outlined/34/000000/home--v2.png" /></mat-icon>
    <p class="p_contain">
      Home
    </p>

  </div>


  <div class="sidecontent">

    <mat-icon style="display: block;margin-left: auto;margin-right:auto">
      <img
        src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/34/000000/external-login-website-element-flatart-icons-outline-flatarticons.png" />
    </mat-icon>
    <p class="p_contain">
      Login
    </p>

  </div>


  <div class="sidecontent">

    <mat-icon style="display: block;margin-left: auto;margin-right:auto">
      <img src="https://img.icons8.com/ios-filled/34/000000/user.png" />
    </mat-icon>
    <p class="p_contain">
      User
    </p>

  </div>


  <div class="sidecontent">

    <mat-icon style="display: block;margin-left: auto;margin-right:auto">
      <img src="https://img.icons8.com/ios-filled/34/000000/module.png" />
    </mat-icon>
    <p class="p_contain">
      Master
    </p>

  </div>

  <div class="sidecontent">

    <mat-icon style="display: block;margin-left: auto;margin-right:auto">
      <img src="https://img.icons8.com/metro/34/000000/about.png" />
    </mat-icon>
    <p class="p_contain">
      About
    </p>

  </div>

  <div class="sidecontent">

    <mat-icon style="display: block;margin-left: auto;margin-right:auto">
      <img
        src="https://img.icons8.com/external-sbts2018-mixed-sbts2018/34/000000/external-logout-social-media-basic-1-sbts2018-mixed-sbts2018.png" />
    </mat-icon>
    <p class="p_contain">
      Logout
    </p>

  </div>
</div>

<div class="colunm13">

  <img class="image1" src="https://img.icons8.com/fluency/48/000000/battle.png">
  <h2 style="text-align: center; margin-right: 20px;font-style: italic;font-family: 'Times New Roman', Times, serif;">
    India</h2>

</div>



<div class="colunm14">

  <img class="image1" src="https://img.icons8.com/fluency/48/000000/battle.png">
  <h2 style="text-align: center; margin-right: 20px;font-style: italic;font-family: 'Times New Roman', Times, serif;">
    Sri lanka</h2>

</div>

<div>

<div style="background-image: url(./../assets/mainbackground.jpg);">

  <div>

    <mat-card class="card" style="width:60%;margin-left: 144px;margin-top: 10px;height: 110px;">

      <div class="row2" style="margin-top: 10px;">

        <div class="column9">
          <img src="https://img.icons8.com/officel/84/000000/name.png" />


        </div>
        <div class="column10">
          <p class="profilename">Ajinkya kote<br>India</p>
        </div>
      </div>

      <div class="row3" style="margin-top: 10px;">
        <!-- <div class="column6" >
          <img src="https://img.icons8.com/fluency/64/000000/battle.png"/>
        </div> -->
        <div class="column11">
          <img style="margin-left: 32px;" src="https://img.icons8.com/fluency/64/000000/battle.png" />
          <button class="button1" mat-raised-button color="white">Battle Ground</button>

        </div>

      </div>
    </mat-card>

    <div class="colunm15">
      <img class="image1" src="https://img.icons8.com/fluency/48/000000/battle.png">
      <h2
        style="text-align: center; margin-right: 20px;font-style: italic;font-family: 'Times New Roman', Times, serif;">
        England</h2>
    </div>



    <div class="colunm16">
      <img class="image1" src="https://img.icons8.com/fluency/48/000000/battle.png">
      <h2
        style="text-align: center; margin-right: 20px;font-style: italic;font-family: 'Times New Roman', Times, serif;">
        Australia</h2>

    </div>





    <div class="row" style="margin-left: 127px;margin-top: 20px;">
      <div class="column" style="margin-left: 18px;">
        <button class="button" mat-raised-button color="white">Primary</button>
      </div>
      <div class="column">
        <button class="button" mat-raised-button color="white">Primary</button>
      </div>
      <div class="column">
        <button class="button" mat-raised-button color="white">Primary</button>
      </div>
      <div class="column">
        <button class="button" mat-raised-button color="white">Primary</button>
      </div>
    </div>

    <div class="searchbox" style="margin-left: 140px;margin-top: 10px;">
      <div role="search" class="searchbox__wrapper">
        <input type="text" placeholder=" What are you looking for ?" class="searchbox__input">
        <img class="search-icon" src="https://img.icons8.com/material-outlined/24/000000/search--v1.png" />
      </div>

    </div>

    <div class="row1" style="margin-left: 120px;margin-top: 10px;">
      <div class="column1" style="margin-left: 22px;">
        <h1 class="h1">Rank</h1>
      </div>
      <div class="column1">
        <h1 class="h1">Name</h1>
      </div>
      <div class="column2" style="text-align: end;">
        <h1 class="h1">Points</h1>
      </div>
    </div>


    <div>

      <mat-card style="width: 60%;margin-left: 144px;margin-top: 50px;height: 70px;background-color: rgb(236, 101, 11);"
        class="scrolltab">
        <div class="row2" style="margin-top: 10px;">
          <div class="column3">
            <h1 style="margin-top: 10px;color: azure;" class="h1">1</h1>
          </div>
          <div class="column4">
            <img src="https://img.icons8.com/color/64/000000/circled-user-male-skin-type-4--v1.png" />
          </div>
          <div class="column5">
            <p class="name">Ajinkyakote<br>India</p>
          </div>
        </div>

        <div class="row3" style="margin-top: 10px;">
          <div class="column6">
            <img src="https://img.icons8.com/fluency/64/000000/battle.png" />
          </div>
          <div class="column7">
            <h1 style="margin-top: 10px;color: azure;" class="h1">100</h1>

          </div>
          <div class="column8">
            <img src="https://img.icons8.com/color/64/000000/circled-up--v1.png" />
          </div>
        </div>

      </mat-card>
    </div>
  </div>
  <div class="colunm17">
    <h2>Points Distrubition</h2>
    <!-- <mat-card style="width: 100%;height: 5%;">
  <div class="row3" style="margin-top: 10px;">
    <div class="column18" >
      <p >Happiness index</p><br>
    <h2>100</h2>
    </div>
    <div class="column19" style="float: right;margin-top: 40px;" >
      <svg  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="30" height="30"
      viewBox="0 0 172 172"
      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#000000"><path d="M102.6625,45.0425c-1.29,0.22844 -2.32469,1.16906 -2.6875,2.41875c-0.36281,1.26313 0.01344,2.60688 0.9675,3.49375l31.605,31.605h-101.5875c-0.1075,0 -0.215,0 -0.3225,0c-1.89469,0.09406 -3.37281,1.70656 -3.27875,3.60125c0.09406,1.89469 1.70656,3.37281 3.60125,3.27875h101.5875l-31.605,31.605c-1.02125,0.83313 -1.49156,2.16344 -1.19594,3.45344c0.29562,1.27656 1.30344,2.28438 2.58,2.58c1.29,0.29563 2.62031,-0.17469 3.45344,-1.19594l37.5175,-37.41l2.365,-2.4725l-2.365,-2.4725l-37.5175,-37.41c-0.71219,-0.76594 -1.74687,-1.15562 -2.795,-1.075c-0.1075,0 -0.215,0 -0.3225,0z"></path></g></g></svg>

    </div>

  </div>
</mat-card> -->
    <div class="row1" style="margin-top: 10px;float: left;">
      <div class="column" style="margin-right: 46px;">
        <p style="width: 100%;margin-top: 10px;margin-left: 10px;">Happinessindex</p>
        <h2 style="margin-left: 10px;margin-bottom: 10px;">100</h2>
      </div>
      <div class="column" style="margin-top: 8px;margin-left: 82px">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172"
          style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#000000">
              <path
                d="M102.6625,45.0425c-1.29,0.22844 -2.32469,1.16906 -2.6875,2.41875c-0.36281,1.26313 0.01344,2.60688 0.9675,3.49375l31.605,31.605h-101.5875c-0.1075,0 -0.215,0 -0.3225,0c-1.89469,0.09406 -3.37281,1.70656 -3.27875,3.60125c0.09406,1.89469 1.70656,3.37281 3.60125,3.27875h101.5875l-31.605,31.605c-1.02125,0.83313 -1.49156,2.16344 -1.19594,3.45344c0.29562,1.27656 1.30344,2.28438 2.58,2.58c1.29,0.29563 2.62031,-0.17469 3.45344,-1.19594l37.5175,-37.41l2.365,-2.4725l-2.365,-2.4725l-37.5175,-37.41c-0.71219,-0.76594 -1.74687,-1.15562 -2.795,-1.075c-0.1075,0 -0.215,0 -0.3225,0z">
              </path>
            </g>
          </g>
        </svg>
      </div>
    </div>



    <div class="row1" style="margin-top: 10px;float: left;">
      <div class="column" style="margin-right: 46px;">
        <p style="width: 100%;margin-top: 10px;margin-left: 10px;">Happinessindex</p>
        <h2 style="margin-left: 10px;margin-bottom: 10px;">100</h2>
      </div>
      <div class="column" style="margin-top: 8px;margin-left: 82px">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172"
          style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#000000">
              <path
                d="M102.6625,45.0425c-1.29,0.22844 -2.32469,1.16906 -2.6875,2.41875c-0.36281,1.26313 0.01344,2.60688 0.9675,3.49375l31.605,31.605h-101.5875c-0.1075,0 -0.215,0 -0.3225,0c-1.89469,0.09406 -3.37281,1.70656 -3.27875,3.60125c0.09406,1.89469 1.70656,3.37281 3.60125,3.27875h101.5875l-31.605,31.605c-1.02125,0.83313 -1.49156,2.16344 -1.19594,3.45344c0.29562,1.27656 1.30344,2.28438 2.58,2.58c1.29,0.29563 2.62031,-0.17469 3.45344,-1.19594l37.5175,-37.41l2.365,-2.4725l-2.365,-2.4725l-37.5175,-37.41c-0.71219,-0.76594 -1.74687,-1.15562 -2.795,-1.075c-0.1075,0 -0.215,0 -0.3225,0z">
              </path>
            </g>
          </g>
        </svg>
      </div>
    </div>





    <div class="row1" style="margin-top: 10px;float: left;">
      <div class="column" style="margin-right: 46px;">
        <p style="width: 100%;margin-top: 10px;margin-left: 10px;">Happinessindex</p>
        <h2 style="margin-left: 10px;margin-bottom: 10px;">100</h2>
      </div>
      <div class="column" style="margin-top: 8px;margin-left: 82px">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172"
          style=" fill:#000000;">
          <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <path d="M0,172v-172h172v172z" fill="none"></path>
            <g fill="#000000">
              <path
                d="M102.6625,45.0425c-1.29,0.22844 -2.32469,1.16906 -2.6875,2.41875c-0.36281,1.26313 0.01344,2.60688 0.9675,3.49375l31.605,31.605h-101.5875c-0.1075,0 -0.215,0 -0.3225,0c-1.89469,0.09406 -3.37281,1.70656 -3.27875,3.60125c0.09406,1.89469 1.70656,3.37281 3.60125,3.27875h101.5875l-31.605,31.605c-1.02125,0.83313 -1.49156,2.16344 -1.19594,3.45344c0.29562,1.27656 1.30344,2.28438 2.58,2.58c1.29,0.29563 2.62031,-0.17469 3.45344,-1.19594l37.5175,-37.41l2.365,-2.4725l-2.365,-2.4725l-37.5175,-37.41c-0.71219,-0.76594 -1.74687,-1.15562 -2.795,-1.075c-0.1075,0 -0.215,0 -0.3225,0z">
              </path>
            </g>
          </g>
        </svg>
      </div>
    </div>


  </div>







<div>





<div>



<!-- //scrollbartable// -->


  <mat-card style="width: 60%;margin-left: 144px;margin-top: 10px;height: 70px;background-color: rgb(236, 101, 11);"
    class="scrolltab">
    <div class="row2" style="margin-top: 10px;">
      <div class="column3">
        <h1 style="margin-top: 10px;color: azure;" class="h1">1</h1>
      </div>
      <div class="column4">
        <img src="https://img.icons8.com/color/64/000000/circled-user-male-skin-type-4--v1.png" />
      </div>
      <div class="column5">
        <p class="name">Ajinkyakote<br>India</p>
      </div>
    </div>

    <div class="row3" style="margin-top: 10px;">
      <div class="column6">
        <img src="https://img.icons8.com/fluency/64/000000/battle.png" />
      </div>
      <div class="column7">
        <h1 style="margin-top: 10px;color: azure;" class="h1">100</h1>

      </div>
      <div class="column8">
        <img src="https://img.icons8.com/color/64/000000/circled-up--v1.png" />
      </div>
    </div>
  </mat-card>





  <mat-card style="width: 60%;margin-left: 144px;margin-top: 10px;height: 70px;background-color: rgb(236, 101, 11);"
    class="scrolltab">
    <div class="row2" style="margin-top: 10px;">
      <div class="column3">
        <h1 style="margin-top: 10px;color: azure;" class="h1">1</h1>
      </div>
      <div class="column4">
        <img src="https://img.icons8.com/color/64/000000/circled-user-male-skin-type-4--v1.png" />
      </div>
      <div class="column5">
        <p class="name">Ajinkyakote<br>India</p>
      </div>
    </div>

    <div class="row3" style="margin-top: 10px;">
      <div class="column6">
        <img src="https://img.icons8.com/fluency/64/000000/battle.png" />
      </div>
      <div class="column7">
        <h1 style="margin-top: 10px;color: azure;" class="h1">100</h1>

      </div>
      <div class="column8">
        <img src="https://img.icons8.com/color/64/000000/circled-up--v1.png" />
      </div>
    </div>
  </mat-card>




  <mat-card style="width: 60%;margin-left: 144px;margin-top: 10px;height: 70px;background-color: rgb(236, 101, 11);"
    class="scrolltab">
    <div class="row2" style="margin-top: 10px;">
      <div class="column3">
        <h1 style="margin-top: 10px;color: azure;" class="h1">1</h1>
      </div>
      <div class="column4">
        <img src="https://img.icons8.com/color/64/000000/circled-user-male-skin-type-4--v1.png" />
      </div>
      <div class="column5">
        <p class="name">Ajinkyakote<br>India</p>
      </div>
    </div>

    <div class="row3" style="margin-top: 10px;">
      <div class="column6">
        <img src="https://img.icons8.com/fluency/64/000000/battle.png" />
      </div>
      <div class="column7">
        <h1 style="margin-top: 10px;color: azure;" class="h1">100</h1>

      </div>
      <div class="column8">
        <img src="https://img.icons8.com/color/64/000000/circled-up--v1.png" />
      </div>
    </div>
  </mat-card>




  <mat-card style="width: 60%;margin-left: 144px;margin-top: 10px;height: 70px;background-color: rgb(236, 101, 11);"
    class="scrolltab">
    <div class="row2" style="margin-top: 10px;">
      <div class="column3">
        <h1 style="margin-top: 10px;color: azure;" class="h1">1</h1>
      </div>
      <div class="column4">
        <img src="https://img.icons8.com/color/64/000000/circled-user-male-skin-type-4--v1.png" />
      </div>
      <div class="column5">
        <p class="name">Ajinkyakote<br>India</p>
      </div>
    </div>

    <div class="row3" style="margin-top: 10px;">
      <div class="column6">
        <img src="https://img.icons8.com/fluency/64/000000/battle.png" />
      </div>
      <div class="column7">
        <h1 style="margin-top: 10px;color: azure;" class="h1">100</h1>

      </div>
      <div class="column8">
        <img src="https://img.icons8.com/color/64/000000/circled-up--v1.png" />
      </div>
    </div>
  </mat-card>

<!-- //scrolltab// -->


  </div>
