.header {
  flex: 1 1 auto;
  background-color: #964B00;
}



.navigation{
  width: 400px;
  height:fixed;

  border: 1px solid #555;
}
.bell{
  margin-right: 80px;

}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 120px; /* Set the width of the sidebar */
  position:absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:rgb(241, 241, 241); /* whitesmoke */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-top: 64px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenavcard_contain{
 width: auto;
 height: 44px;
 margin:10px;


}

.sidecontent:hover  {
  background-color:  white; border-radius: 6px; margin-right: 12px;margin-left: 12px;    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}
.container {
  margin-top: 4%;
}

.p_contain{

  font-family: 'Times New Roman', Times, serif;

  text-align: center;
  margin-top: 14px;
  font-size: 16px;

}

.card {
  width: 10%;
  margin: 2em;
  height: 10%;
  background-image:url(./../assets/home.jpg);
  background-size: cover;
  background-position-y: -26vh;

}



.mat-side {
  margin: auto;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.mat-side:hover {
  box-shadow: 0 8px 8px ;margin: 40px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}
.container {
  margin-top: 4%;
}

.profilecard{

  width: 60%;
  height: 100px;
  margin-left:140px;
  margin-top: 10px;
  border-radius: 8px;
  background-image: url("https://www.google.com/search?q=background+image&rlz=1C1RXQR_enIN973IN973&sxsrf=AOaemvIIWG0LMamikSD6gTv0iGn_UCNl4Q:1634309613412&tbm=isch&source=iu&ictx=1&fir=YVJU4EkuO-hGdM%252C0aKRK2RZxWjguM%252C_%253B6biWA5hcSFquvM%252C0YhkbdsB8sWdIM%252C_%253B3gEnmv1-bD1p2M%252C0aKRK2RZxWjguM%252C_%253BAG8O7TVqhNu-MM%252C0aKRK2RZxWjguM%252C_%253Bv88-M_AJ_P6MCM%252CnrS8yXEy4V6zEM%252C_%253BS1p_UW2dBzlfrM%252Crxjg7gXK1zycAM%252C_%253BUoBzqU8Fz3WgWM%252C-VeY3IbOBNTikM%252C_%253Bs8cnn8j7VwoKqM%252CkmIztsADtIrUXM%252C_%253BglOou5mBtEMGKM%252CkMZZQGcyyX5myM%252C_%253BtbJ__Fzk_2VozM%252CLmxEG2fpBgMKnM%252C_%253BseO4x3ec-jaFjM%252CVBhN99_jMoH1jM%252C_%253B45phbHE0cEqCiM%252CepdqqC0qou6e-M%252C_%253BeoUlzzeIQG0prM%252Cb6YOYbz4PifiGM%252C_%253Bk2mjqSFN4s7yQM%252CjElKzTBoNCfDyM%252C_%253BMET13xmDE_TO7M%252CLmxEG2fpBgMKnM%252C_&vet=1&usg=AI4_-kRJe5PusHr2f1-5jkFvdVmAW-JdXQ&sa=X&ved=2ahUKEwjD8dbf1czzAhUnzzgGHQ51B2kQ9QF6BAgPEAE&biw=1366&bih=625&dpr=1#imgrc=v88-M_AJ_P6MCM");
    background-size: cover;
    background-position-y: -20vh;

}

.profileimage{
  width: 104%;
  height: 140%;
  border-radius: 8px;

}

.profilephoto{

  width: 16%;
  height: 40%;
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
  aspect-ratio: none;
}




.column {
  float: left;
  width: 18%;
}



.button{
width: 80%;
}
.button:hover {background-color: #551515;color: white;}

.button:active {
  background-color: #500e0e;

  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.searchbox {
  display: inline-block;
  position: relative;
  width: 600px;
  margin-left: 3%;
  height: 37px;
  white-space: nowrap;
  font-size: 13px;
  font-family: Poppins;
  border-radius: 18px;
  border-color: transparent;
  box-shadow: 1px 1px 4px rgba(0, 21, 41, 0.08);
}
.searchbox__wrapper {
  width: 100%;
  height: 100%;
}
.searchbox__input {
  display: inline-block;
  -webkit-transition: box-shadow 0.4s ease, background 0.4s ease;
  transition: box-shadow 0.4s ease, background 0.4s ease;
  border: 0;
  border-radius: 1px;
  box-shadow: inset 0 0 0 1px #d9d9d9;
  background: #ffffff;
  padding: 0;
  padding-right: 30px;
  padding-left: 37px;
  width: 130%;
  height: 110%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.searchbox__submit {
  position: absolute;
  top: 0px;
  right: 1px;
  margin: 0;
  border: 0;
  border-radius: 18px;
  padding: 0;
  width: 200px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #1479ff;
  color: #fff;
  font-family: Poppins;
}
.search-icon {
  position: relative;
  right: 830px;
  top:8px;
  width: 24px;
  height:24px;
  font-size: 24px;
  cursor: pointer;
}
.buttons {
  display: inline-block;
  margin-left: 12%;
}


.column1 {
  float: left;
  width: 10%;

}
.column2 {
  float: left;
  width: 40%;
}

.h1{
font-size: 20px;
font-weight: bold;
}

.profilecard2{
  width: 60%;
  height: 60px;
  margin-left:140px;
  margin-top: 50px;
  border-radius: 8px;




}

.profilephoto1{

display: inline-block;
  width: 16%;
  height: 40%;
margin:0px;

  aspect-ratio: none;

}

.rank1{
  margin-top: 20px;
}

.column3 {
  float: left;
  width: 2%;
}

.column4 {
  float: left;
  width: 8%;

}


.column5 {
  float: left;
  width: 10%;
  margin-top: 20px;
  margin-left: 20px;
}
.name{

  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #f1f1f1;
  font-weight: bold;


}


.column6 {
  float: left;
  width: 8%;
  margin-left: 400px;
}

.column7 {
  float: left;
  width: 8%;
  margin-left: 20px;
}

.column8 {
  float: left;
  width: 8%;
}

.row1{
  height: fit-content;
}
/*
.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display:flexbox;
  } */

  .my-custom-scrollbar {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: auto;
  }
  .profilename{

   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 18px;
   color: #f1f1f1;
   margin-left: 4px;
  }


  .column9 {
    float: left;
    width: 8%;
    margin-left: 12px;
  }

  .column10 {
    float: left;
    width: 15%;
    margin-left: 24px;
    margin-top: 36px;
  }

  .column11 {
    float: right;
    width: 20%;


  }


  .button1{
    width: 80%;
    }
    .button1:hover{background-color: #551515;color: white;}

    .button1:active {
      background-color: #500e0e;

      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }


.scrolltab{
  background-image:url(./../assets/home.jpg);
  background-size: cover;
  background-position-y: -26vh;

}



.colunm13{
  float: right;
  width: 10%;
  height: 20%;
  margin-top: 14px;
  margin-right: 20px;



}

.image1{
  height: 70%;
  width: 80%;


}
.colunm14{
  float: right;
  width: 10%;
  height: 20%;
  margin-top: 14px;
  margin-right: 20px ;
}


.colunm15{
  float: right;
  width: 10%;
  height: 20%;

  margin-right: 20px ;
}



.colunm16{
  float: right;
  width: 10%;
  height: 20%;

  margin-right: 20px ;
}


.colunm13:hover  {
  background-color:  white; border-radius: 6px;    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}


.colunm14:hover  {
  background-color:  white; border-radius: 6px;    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}


.colunm15:hover  {
  background-color:  white; border-radius: 6px;    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}


.colunm16:hover  {
  background-color:  white; border-radius: 6px;    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}

.colunm17{
  float: right;
  width: 15%;
  height: 25%;
  margin-right: 130px;




}
.row1:hover  {
  background-color:  white; border-radius: 6px; width: 100%;    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}
